@font-face {
  font-family: 'SwedbankHeadline-Black';
  src: local('SwedbankHeadline-Black'), url('./fonts/SwedbankHeadline-Black.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'SwedbankSans-Regular';
  src: local('SwedbankSans-Regular'), url('./fonts/SwedbankSans-Regular.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'SwedbankSans-Medium';
  src: local('SwedbankSans-Medium'), url('./fonts/SwedbankSans-Medium.woff') format('woff');
  font-weight: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fdf6ee;
}

h1, h2 {
  color: #512b2b;
  font-family: SwedbankHeadline-Black;
}

h2 {
  font-size: 1.3rem;
}

li,
label,
button {
  color: #512b2b;
  font-family: SwedbankSans-Medium;
  font-size: larger;
  cursor: pointer;
}

td {
  color: #512b2b;
  font-family: SwedbankSans-Medium;
  border-bottom: 1px #ece7e2 solid;
  vertical-align: top;
  padding: 13px 10px;
  font-size: large;
}

table {
  width: 133%;
}

span {
  font: normal 1.1rem 'Arial';
  text-align: center;
  color: white;
  background-color: #d4b8a3;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 10rem;
  display: inline-block;
  margin-left: .4rem;
  padding-right: 1px;
 }

span:hover {
  cursor: default;
  font: normal 1.1rem 'Arial';
  text-align: center;
  color: #512b2b;
  background-color: #fdc92a;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 10rem;
  display: inline-block;
  margin-left: .4rem;
  padding-right: 1px;
 }

 input[type="checkbox" i] {
   display: block;
   float: right;
   position: relative;
   top: 7px;
   right: 0;
 }

 input[type],
 select {
   font-family: SwedbankSans-Regular;
   font-size: large;
   margin-left: 1rem;
 }

 
button[type=button] {
  background-color: #d4b8a3;
  color: #512b2b;
  border: none;
  border-radius: .2rem;
  padding: .8rem 1.5rem .8rem 1.5rem;
}

button[type=submit] {
  background-color: #ff5f00;
  color: white;
  border: none;
  border-radius: .2rem;
  padding: .8rem 1.5rem .8rem 1.5rem;

}

/*input[type]:invalid:focus{
  border: 1px solid red;
}*/

.form-container {
  margin: auto;
  width: 500px;
  padding: 5rem;
  margin-top: 10rem;
  position: relative;
  background-color: white;
}

.title>h1 {
  color: #ff5f00;
  font-size: 2rem;
  text-align: center;
  position: relative;
  display: block;
  top: 9.5rem;
  right: 7.5rem;
}

.title-container {
  margin-top: -6rem;
}

.button-container {
  display: block;
  text-align: right;
  padding-top: 3rem;
  margin-bottom: -2rem;
}

.button-back {
  float: left;
  background-color: #d4b8a3;
  color: #512b2b;
  border: none;
  border-radius: .2rem;
}

.agreement-checkboxes {
  width: max-content;
  float: left;
  display: block;
  line-height: 1.5;
}

.outgoings-checkboxes {
  display: flex;
  justify-content: flex-start;
  position: relative;
  top: 20%;
  right: 3%;
}

.outgoings-container {
  width: max-content;
  text-align: left;
}

.intro-title>h2,
ul li::marker {
  color: #ff5f00;
  font-family: SwedbankHeadline-Black;
}

div.education-status > label > select{
  width: 220px;
  display: block;
  float: right;
}

div.job-status > label > select{
  margin-left: 17.5rem;
  width: 220px;
  display: block;
  float: right;
  position: relative;
  bottom: 20px;
}

.add-info{
  font-family: SwedbankSans-Regular;
  font-size: large;
  margin: 0 -5rem 0 0;
  width: 135%;
}

.symbol-counter{
  width: 137%;
  display: flex;
  justify-content: flex-end;
  font-family: SwedbankSans-Regular;
  padding-top: .5rem;
}

.required:after{
  content: "*";
  color: red;
}







 


















